PGUSER=postgres
PGHOST=localhost
PGDATABASE=WEZET
PGPASSWORD=changeme
PGPORT=5432

PORT=4000
CORS_ORIGIN=http://localhost:3001

JWT_SECRET=changeme
COOKIE_NAME=wezet_token

GEMINI_API_KEY=changeme
GROQ_API_KEY=changeme

PUBLIC_API_URL=http://localhost:4000